<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration> 
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebGIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>  
    <!-- 业务系统数据库配置 -->
    <!--<add key="JFJY" value="Persist Security Info=False;Data Source=10.44.30.69;User ID=sa;Password=qmgps2013;Initial Catalog=JFJY;Pooling=true;Connection Lifetime=15;Connect Timeout=120;MAX Pool Size=100;Min Pool Size=1"/>-->
    <!--<add key="YQWL" value="Persist Security Info=False;Data Source=10.44.30.69;User ID=sa;Password=qmgps2013;Initial Catalog=YQWL;Pooling=true;Connection Lifetime=15;Connect Timeout=120;MAX Pool Size=100;Min Pool Size=1"/>-->
    <add key="HRBKY" value="Persist Security Info=False;Data Source=10.44.31.151;User ID=sa;Password=qmgps2012;Initial Catalog=HEBKYNEW;Pooling=true;Connection Lifetime=15;Connect Timeout=120;MAX Pool Size=100;Min Pool Size=1"/>
    <add key="HRBHY" value="Persist Security Info=False;Data Source=10.44.31.40;User ID=sa;Password=qmgps2014;Initial Catalog=JFQZ;Pooling=true;Connection Lifetime=15;Connect Timeout=120;MAX Pool Size=100;Min Pool Size=1"/>
    <add key="YQWL" value="Persist Security Info=False;Data Source=202.98.11.79,3715;User ID=snotest;Password=sno2016!;Initial Catalog=YQWL;Pooling=true;Connection Lifetime=15;Connect Timeout=120;MAX Pool Size=100;Min Pool Size=1"/>
    <add key="JFJY" value="Persist Security Info=False;Data Source=10.44.31.40;User ID=sa;Password=qmgps2014;Initial Catalog=JFQZ;Pooling=true;Connection Lifetime=15;Connect Timeout=120;MAX Pool Size=100;Min Pool Size=1"/>
    <add key="DPTEST" value="Persist Security Info=False;Data Source=10.44.30.71;User ID=sa;Password=qmgps2016!;Initial Catalog=YQWL;Pooling=true;Connection Lifetime=15;Connect Timeout=120;MAX Pool Size=100;Min Pool Size=1"/>
   
    <!-- 扩展状态报警时间配置 -->
    <add key="JFJY_OldSplitDate" value="2015-05-12 00:00:00 "/>
    <add key="YQWL_OldSplitDate" value="2015-9-12 00:00:00 "/>
    <add key="HRBKY_OldSplitDate" value="2015-05-12 00:00:00 "/>
    <add key="HRBHY_OldSplitDate" value="2015-05-12 00:00:00 "/>
    <add key="YQWL_New_OldSplitDate" value="2015-05-12 00:00:00 "/>
    <add key="DPTEST_OldSplitDate" value="2015-9-12 00:00:00 "/>
    
    <add key="MonitorDataSource" value="RDS"/>
    <add key="Timeout" value="6000"/>
    <add key="DiffLng" value="0.001"/>
    <add key="DiffLat" value="0.001"/>
    <add key="MapKey" value="736ee15f242085b54b92927303b7752b"/>
    <add key="AddressConvertUrl" value="http://telematics.autonavi.com/faw_qm/reversecode/?"/>
    <add key="CoordinateConvertUrl" value="http://restapi.amap.com/v3/assistant/coordinate/convert?"/>
    <add key="AddrConvertNumber" value="20"/>
    <add key="SmsSendUrl" value="http://10.44.30.50:8005/IMWService.svc/SmsSend"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="104857600" executionTimeout="3600" />
  </system.web>

  <connectionStrings>

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RealtimeData" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="SendSMSImpServiceSoapBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WebGISServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9043/RealtimeData/WCFService"
        binding="basicHttpBinding" bindingConfiguration="RealtimeData"
        contract="RealtimeDataServer.IWCFService" name="RealtimeData" />
      <endpoint address="http://10.44.30.97:8080/pushservice/services/sendsms"
        binding="basicHttpBinding" bindingConfiguration="SendSMSImpServiceSoapBinding"
        contract="SmsSendService.SendSMS" name="SendSMSImpPort" />
      <endpoint address="http://dptest.qm.cn:3706/Webgis/service/WebGISService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebGISServiceSoap"
        contract="WebGISService.WebGISServiceSoap" name="WebGISServiceSoap" />
    </client>
  </system.serviceModel>

  <applicationSettings>
    <WebGIS.Properties.Settings>
      <setting name="WebGIS_GlobalSessionService_GSSWebService" serializeAs="String">
        <!--<value>http://10.44.30.113:9001/GSSWebService.asmx</value>-->
        <value>http://localhost:9001/GSSWebService.asmx</value>
      </setting>
    </WebGIS.Properties.Settings>
  </applicationSettings>
</configuration>